<div class="main" style="width:50%; display:block; margin-left: auto; margin-right: auto;">
    <div class="header">
        <h1 class="sg_title">Serviceware SE Email Signature Generator</h1>
        <div style="color: #A0A0A0; margin-bottom:10px;">Version {{version}} </div>
        Please enter your details below. Your signature files will be generated automatically.<br /><br />
    </div>

    <form>
        <div class="input-group">
            <fieldset class="col-md-4 form-group">
                <label for="company">Select Company</label>
                <select class="form-control" name="companyList" id="companyList" (change)="updateCompany($event)">
                    <option *ngFor="let company of companies " value="{{company.id}}">
                        {{company.name}}
                    </option>
                </select>
            </fieldset>
            <fieldset class="col-md-4 form-group">
                <label for="location">Select Location</label>
                <select class="form-control" name="locationList" id="locationList" (change)="updateLocation($event)">
                    <option *ngFor="let location of locations" value="{{location.id}}">
                        {{location.town}}
                    </option>
                </select>
            </fieldset>
            <fieldset class="col-md-4 form-group">
                <label for="position">Position</label>
                <input (click)="$event.target.select()" type="text" class="form-control" id="position"
                    placeholder="Enter Position" [(ngModel)]="position" name="position" (keyup)="onChange($event)">
            </fieldset>

            <!---------------------------------------------------------------------->
            <fieldset class="col-md-3 form-group">
                <label for="firstName">First Name</label>
                <input (click)="$event.target.select()" type="text" class="form-control" id="firstName"
                    placeholder="Enter First Name" [(ngModel)]="firstName" name="firstName" (keyup)="onChange($event)">
            </fieldset>
            <fieldset class="col-md-3 form-group">
                <label for="lastName">Last Name</label>
                <input (click)="$event.target.select()" type="text" class="form-control" id="lastName"
                    placeholder="Enter Last Name" [(ngModel)]="lastName" name="lastName" (keyup)="onChange($event)">
            </fieldset>
            <fieldset class="col-md-6 form-group">
                <label for="email">Email Address</label>
                <div class="input-group">
                    <input (click)="$event.target.select()" type="text" class="form-control"
                        placeholder="Enter Email Address" [(ngModel)]="emailPrefix" name="emailPrefix">
                    <span class="input-group-addon input-group-addon-emaildropdown" id="basic-addon1"
                        style="cursor:pointer">
                        <select class="input-group-addon-emaildropdown-select" [(ngModel)]="selectedEmailSuffix"
                            name="selectedEmailSuffix">
                            <option value="Select Email" *ngFor="let item of emailSuffixes.emailSuffixes"
                                value="{{item.id}}">
                                {{ item.emailSuffix }}
                            </option>
                        </select>
                    </span>
                </div>
            </fieldset>
            <!---------------------------------------------------------------------->
            <fieldset class="col-md-5 form-group">
                <label for="telNr">Telephone Number</label>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">+</span>
                    <input type="text" class="form-control" id="telNr" placeholder="Enter Telephone Number"
                        value={{finalTelephoneNum}}>
                </div>
            </fieldset>
            <fieldset class="col-md-5 form-group">
                <label for="telNr">Mobile Number</label>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">+</span>
                    <input (click)="$event.target.select()" type="text" class="form-control" id="mobileNr"
                        placeholder="Enter Mobile Number" [(ngModel)]="mobileNr" name="mobileNr">
                </div>
            </fieldset>

            <fieldset class="col-md-2 form-group">
                <label for="supportNr">Support Number?</label>
                <div class="btn-group btnGrpSupNum" data-toggle="buttons">
                    <label class="btn btn-secondary btnSupNum" (click)="showSupportNum = true">
                        <input type="radio" />Yes
                    </label>
                    <label class="btn btn-secondary active btnSupNum" (click)="showSupportNum = false">
                        <input type="radio" checked />No
                    </label>
                </div>
            </fieldset>

            <fieldset class="col-md-2 col-md-offset-10 form-group">
                <button (click)="submit()" type="submit" class="btn btn-secondary pull-right btnGenerateHTML"
                    [disabled]="!readyToSubmit">Generate HTML in new window</button>
            </fieldset>
        </div>
    </form>

    <h1 class="sg_title">Preview:</h1>
    <div style="display:inline-block;user-select:none;">
        <div id="name" style="font-size:12.0pt;font-family:'Source Sans Pro',sans-serif;color:#2F3E48;">
            {{firstName}} {{lastName}}
        </div>
        <div id="position" style="font-family:'Source Sans Pro',sans-serif;font-size:10.0pt;color:#2F3E48;">
            {{position}}
        </div>
        <div style="display:inline-block;border:none;padding:0in 15.0pt 10pt 0in;font-family:'Source Sans Pro',sans-serif;"
            id="pmcsLogo">
            <img style="vertical-align:baseline;" alt="{{selectedLogo.alt}}" src="{{selectedLogo.imgUrl}}" />
        </div>
        <div id="moreInfo" style="display:flex;align-items:center;">
            <div style="display:inline-block;border:none;border-right:solid #0082BB 2px;padding:0in 15.0pt 0in 0pt;font-family:'Source Sans Pro',sans-serif;font-size:10.0pt;"
                id="companyAdress">
                {{completeCompany.name}}<br>
                {{completeLocation.street}}<br>
                {{completeLocation.address1}}<br />
                <div ng-show="completeLocation.address2 != undefined">{{completeLocation.address2}}</div>
                {{completeCompany.website}}
            </div>
            <div style="display:inline-block;padding:0in 0in 0in 15.0pt;font-family:'Source Sans Pro',sans-serif;"
                id="personInfo">
                <a href="mailto:{{emailPrefix}}{{selectedEmailSuffix}}">{{emailPrefix}}{{selectedEmailSuffix}}</a>
                <div [hidden]="finalTelephoneNum === ''">Tel. &#43;{{finalTelephoneNum}}</div>
                <div [hidden]="mobileNr === ''">Mob. &#43;{{mobileNr}}</div>
                <div [hidden]="showSupportNum && completeCompany.supportNum != ''">Support:
                    &#43;{{completeCompany.supportNum}}</div>
            </div>
        </div>
        <p class="MsoNormal">
            <span lang="EN-GB"
                style="font-size:8.5pt;font-family:'Source Sans Pro',sans-serif;color:#A0A0A0;mso-fareast-language:EN-GB">{{completeCompany.imprints[0]}}<br /></span>
            <span lang="EN-GB"
                style="font-size:8.5pt;font-family:'Source Sans Pro',sans-serif;color:#A0A0A0;mso-fareast-language:EN-GB">{{completeCompany.imprints[1]}}<br /></span>
            <span lang="EN-GB"
                style="font-size:8.5pt;font-family:'Source Sans Pro',sans-serif;color:#A0A0A0;mso-fareast-language:EN-GB">{{completeCompany.imprints[2]}}<br /></span>
            <span lang="EN-GB"
                style="font-size:8.5pt;font-family:'Source Sans Pro',sans-serif;color:#A0A0A0;mso-fareast-language:EN-GB">{{completeCompany.imprints[3]}}<br /></span>
            <span lang="EN-GB"
                style="font-size:8.5pt;font-family:'Source Sans Pro',sans-serif;color:#A0A0A0;mso-fareast-language:EN-GB">{{completeCompany.imprints[4]}}</span>
        </p>
    </div>
</div>
<img src="../assets/images/bottomGraphic.png" style="width:100%; position:fixed; bottom:0;" />