<div class="main" style="width:80%; display:block; margin-left: auto; margin-right: auto;">
    <div class="header">
        <h1>Serviceware SE Email Signature Generator</h1>
        <div style="color: #A0A0A0; margin-bottom:10px;">Version {{version}} </div>
        Please enter your details below. Your signature files will be generated automatically.<br /><br />
    </div>

    <form class="well" style="width:1000px;">
        <div class="input-group">
            <fieldset class="col-md-4 form-group">
                <label for="company">Select Company</label>
                <select class="form-control" name="companyList" id="companyList">
                    <option *ngFor="let company of companies.companies " value="{{company.id}}">
                        {{company.name}}
                    </option>
                </select>
            </fieldset>
            <fieldset class="col-md-4 form-group">
                <label for="location">Select Location</label>
                <select class="form-control" name="locationList" id="locationList">
                    <option *ngFor="let location of locations.locations" value="{{location.id}}">
                        {{location.town}}
                    </option>
                </select>
            </fieldset>
            <fieldset class="col-md-4 form-group">
                <label for="position">Position</label>
                <input (click)="$event.target.select()" type="text" class="form-control" id="position"
                    placeholder="Enter Position">
            </fieldset>

            <!---------------------------------------------------------------------->
            <fieldset class="col-md-3 form-group">
                <label for="firstName">First Name</label>
                <input (click)="$event.target.select()" type="text" class="form-control" id="firstName"
                    placeholder="Enter First Name">
            </fieldset>
            <fieldset class="col-md-3 form-group">
                <label for="firstName">Last Name</label>
                <input (click)="$event.target.select()" type="text" class="form-control" id="lastName"
                    placeholder="Enter Last Name">
            </fieldset>
            <fieldset class="col-md-6 form-group">
                <label for="email">Email Address</label>
                <div class="input-group">
                    <input (click)="$event.target.select()" type="text" class="form-control" placeholder="Enter Email Address">
                    <span class="input-group-addon" id="basic-addon1" style="cursor:pointer">
                        <select *ngFor="let item of emailSuffixes">
                            <option value="Select Email" selected></option>
                        </select>
                    </span>
                </div>
            </fieldset>
            <!---------------------------------------------------------------------->
            <fieldset class="col-md-4 form-group">
                <label for="telNr">Telephone Number</label>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">+</span>
                    <input type="text" class="form-control" id="telNr" placeholder="Enter Telephone Number">
                </div>
            </fieldset>
            <fieldset class="col-md-4 form-group">
                <label for="telNr">Mobile Number</label>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">+</span>
                    <input (click)="$event.target.select()" type="text" class="form-control" id="mobileNr"
                        placeholder="Enter Mobile Number">
                </div>
            </fieldset>

            <fieldset class="col-md-2 form-group">
                <label for="supportNr">Support Number?</label>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-secondary" style="border:1px black solid;background-color:white;"
                        (click)="showSupportNum = true">
                        <input type="radio" />Yes
                    </label>
                    <label class="btn btn-secondary active" style="border:1px black solid;background-color:white;"
                        (click)="showSupportNum = false">
                        <input type="radio" checked />No
                    </label>
                </div>
            </fieldset>

            <fieldset class="col-md-2 form-group">
                <label for="linkLang">Why Serviceware</label>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-secondary" style="border:1px black solid;background-color:white;"
                        (click)="langGer = true">
                        <input type="radio" />DE
                    </label>
                    <label class="btn btn-secondary active" style="border:1px black solid;background-color:white;"
                        (click)="langGer = false">
                        <input type="radio" checked />EN
                    </label>
                </div>
            </fieldset>

            <fieldset style="display:none;" class="col-md-6 form-group">
                <label for="logoSelection">Logo</label>
                <select class="form-control" name="logoList" id="logoList">
                    <option *ngFor="let logo of logos" value="{{logo.id}}">{{logo.name}}</option>
                </select>
            </fieldset>

            <button (click)="submit()" type="submit" class="btn btn-secondary pull-right"
                [disabled]="!readyToSubmit">Generate HTML in new window</button>
        </div>
    </form>